body {
font-size: 64px;
background-color: #222;
color: white;
}
h1 {
  text-align: center;
}
#intro {
  text-align: center;
}
li {
  font-style: italic;
}
p.desc {
  font-style: italic;
  font-family: Verdana, Arial;
}
h4 {
  font-weight: lighter;
}
td.single {
  border: 2px solid white;
}